#aside {
  position: fixed;
  bottom: 50px;
  width: fit-content;
  z-index: 300;
  left: 25px;
}

#aside .aside-box {
  display: flex;
  flex-direction: column;
}

#aside .aside-box a {}

#aside .aside-box a button {}

#aside .aside-box a button img {}

.a-icon {
    width: 30px;
  height: 30px;
  fill: #000; /* SVG 내부 색 바꾸기 */
  display: block
}
